[Unit]
Description=Prawnalith docker compose
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
# Another Type option: forking
User=felixt
WorkingDirectory=/var/prawnalith/src/cloud_images
ExecStart=/usr/local/bin/docker-compose up 
ExecStop=/usr/local/bin/docker-compose down
Restart=no

[Install]
WantedBy=multi-user.target
