[Unit]
Description=Prawnalith docker compose
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
# Another Type option: forking
User=root
WorkingDirectory=/var/prawnalith/cloud_images
ExecStart=sh /var/prawnalith/cloud_images/docker-compose.sh up 
ExecStop=sh /var/prawnalith/cloud_images/docker-compose.sh down
Restart=no

[Install]
WantedBy=multi-user.target
