[Unit]
Description=Prawnalith docker compose
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
# Another Type option: forking
User=pi
WorkingDirectory=/var/prawnalith/local_images
ExecStart=/bin/bash /var/prawnalith/local_images/start.sh
ExecStop=/bin/bash /var/prawnalith/local_images/stop.sh
Restart=no

[Install]
WantedBy=multi-user.target
